* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  position: relative;
}

canvas#game {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
